.IUx2kx-g6cZmXhLmh5U5G {
  background-color: var(--bg-primary-color); }
  ._3HUpDHr0d65fi1u8RQiLRv {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

._1JM8lw4HPZeTokOUVim0xz {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; }

._2Cu4AY_pi_gS9lR_PfS8PS {
  background-color: white;
  width: 300px;
  padding: 30px;
  position: relative; }

._310y_SDDm9tck7WmmHxJ8G {
  padding: 15px;
  border: 1px solid gray;
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 1000;
  cursor: pointer;
  display: none; }

._310y_SDDm9tck7WmmHxJ8G._2N7byiKL05OKIOREPByHV7 {
  display: block; }

:root {
  --text-color: rgb(56, 56, 56);
  --bg-primary-color: rgb(173, 173, 173); }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-color);
  font-family: Helvetica, sans-serif; }

