._1rFsKblJN20k2KntI2Oq7L {
  display: flex;
  align-items: center; }
  ._2Xqd-53KwGtZT9qUftnQBj {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 20px; }
  ._2vHBB0J4t0cKpN12BLGehG {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }

._1nHE7IMstWBP5Brmt5MnK- {
  width: 150px; }

.IUx2kx-g6cZmXhLmh5U5G {
  background-color: var(--bg-primary-color);
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px 0px var(--shadow-primary-color); }
  ._3HUpDHr0d65fi1u8RQiLRv {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px; }
  ._1mkekcOW-nFyiro8UX7cUW {
    background-color: var(--bg-default-color);
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center; }

._1JM8lw4HPZeTokOUVim0xz {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; }

._2Cu4AY_pi_gS9lR_PfS8PS {
  background-color: white;
  width: 300px;
  padding: 30px;
  position: relative; }

._310y_SDDm9tck7WmmHxJ8G {
  padding: 15px;
  border: 1px solid gray;
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 1000;
  cursor: pointer;
  display: none; }

._310y_SDDm9tck7WmmHxJ8G._2N7byiKL05OKIOREPByHV7 {
  display: block; }

:root {
  --text-color: #333333;
  --bg-default-color: #ffffff;
  --bg-primary-color: #f8f8f8;
  --shadow-primary-color: #3f3f3f; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-color);
  font-family: Helvetica, sans-serif; }

