.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; }

.modal-content {
  background-color: white;
  width: 300px;
  padding: 30px;
  position: relative; }

.scrollup {
  padding: 15px;
  border: 1px solid gray;
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 1000;
  cursor: pointer;
  display: none; }

.scrollup.active {
  display: block; }

html {
  scroll-behavior: smooth; }

