@import "@styles/mixins.scss";

.footer {
    box-shadow: 0 0 3px 0px var(--shadow-default-color);
    background-color: var(--bg-default-color);

    &__container {
        @include centerer();
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 35px;
    }
}
