@import "@styles/mixins.scss";

.footer {
    box-shadow: 0 0 3px 0px var(--shadow-default-color);
    background-color: var(--shadow-primary-color);

    &__container {
        @include centerer();
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
