@import "@styles/mixins.scss";

.toggle-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 0;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__button {
        @include reset-button();
        @include link();
    }
}
