@import "@styles/mixins.scss";

.recommended {
    &__list {
        @include reset-list();
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include laptop {
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        @include mobile {
            justify-content: center;
            grid-template-columns: 400px;
        }
    }
}
