.scrollup {
    position: fixed;
    bottom: 70px;
    right: 50px;
    z-index: 1000;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--bg-default-color);
    transition: transform 0.4s;
    background-color: var(--bg-primary-color);

    &:hover {
        transform: scale(1.1);
    }

    &:after {
        content: "";
        width: 15px;
        height: 15px;
        display: block;
        border: 2px solid var(--bg-default-color);
        transform: rotate(-45deg);
        border-left: 0;
        border-bottom: 0;
        margin-top: 8px;
    }

    &--active {
        display: flex;
    }
}
